@using Dental_Pure.Entities;
@model List<ServiceModel>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Service List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Reservation" asp-action="Index" class="btn btn-primary">
            <i class="bi bi-calendar-event"></i> &nbsp; Book an appointment
        </a>
    </div>
</div>





<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Service
        </th>
        <th>
                <center> Pricing starting at</center>
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.Id))
        {
        <tr>
                <td width="80%"> @obj.Name</td>
                <td width="20%"><center>@obj.Price pln</center></td>
        </tr>
        }
    </tbody>
</table>
</div>