@using Dental_Pure.Entities;
@model List<StaffModel>
@{
    ViewData["Title"] = "Index";
}



@*test*@
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Service
            </th>
            <th>
                <center> Pricing starting at</center>
            </th>
        </tr>
    </thead>
    @foreach (var obj in Model.OrderBy(u => u.Id))
    {
    <img src="@obj.PhotoUrl" class="card-img-top rounded" />
    <tbody>
        
            <tr>
                <td width="80%"> @obj.Name</td>
                @*fix photos*@
                
                <td width="20%"><center>@obj.Title </center></td>
            </tr>
        
    </tbody>
        }
</table>
</div>