@{
    ViewData["Title"] = "Contact";
}
<div class="row pb-3 my-auto">
        <div class="col-4">
            <div class=" row p-2 h-100 ">
                <div class="text-bg-dark card">
                    <div class="d-flex justify-content-around">
                    <i class="bi bi-geo-alt-fill " style="font-size: 70px" ></i>
                    </div>
                    <div class="card-body">
                        <div class="pl-1 ">
                            <p class="card-title h3 text-primary"><b>Address</b></p>
                            <p class="card-title h4 text-info">Wrocław</p>
                        </div>
                        <div class="pl-1">
                            <p class="card-title h5 text-info">Kościuszki 22</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="col-4">
        <div class=" row p-2 h-100">
            <div class="text-bg-dark card">
                <div class="d-flex justify-content-around">
                    <i class="bi bi-telephone-fill" style="font-size: 70px"></i>
                </div>
                <div class="card-body">
                    <div class="pl-1 ">
                        <p class="card-title h3 text-primary"><b>Phone Number</b></p>
                        <p class="card-title h4 text-info">+48 123 456 789</p>
                    </div>
                    <div class="pl-1">
                        <p class="card-title h5 text-info"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class=" row p-2 h-100">
            <div class="text-bg-dark card">
                <div class="d-flex justify-content-around">
                    <i class="bi bi-envelope-fill" style="font-size: 70px"></i>
                </div>
                <div class="card-body">
                    <div class="pl-1 ">
                        <p class="card-title h3 text-primary"><b>Email</b></p>
                        <p class="card-title h4 text-info">dental-pure@gmail.com</p>
                    </div>
                    <div class="pl-1">
                        <p class="card-title h5 text-info"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>