@{
    ViewData["Title"] = "Home Page";
}



<body id="page-top" style=" margin: 0; padding: 0;">
 @*   
    <div class="ignore-layout">

    TODO - fix background image
    <div class="bg-image d-flex " style="background-image: url('https://media.istockphoto.com/id/840618652/pl/zdj%C4%99cie/pi%C4%99kny-u%C5%9Bmiech-m%C5%82oda-kobieta-bia%C5%82e-z%C4%99by-na-master-plan.jpg?s=2048x2048&w=is&k=20&c=PBdJER2fCX65DNcvteWCLaG0yCjvs0jhrBhCZ-aHKfo='); height: 100vh; img-fluid; background-repeat: no-repeat; background-size: cover;">
*@
<div class="m-auto text-center">


            <div class="container d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <div class="masthead-subheading"><h2>Welcome To Our Studio!</h2></div> 
                    <div class="masthead-heading"><h3>White, beautiful smile? With us it's possible!</h3></div>
                    <a class="btn btn-primary btn-xl text-uppercase" asp-controller="Service" asp-action="Index">Our offer</a>
                </div>
            </div>
@*        </div>
   </div>
   *@ 
   </div>
</body>

