@{
    ViewData["Title"] = "Home Page";
}



<body id="page-top" style=" margin: 0; padding: 0;">

    <div class="ignore-layout">

        @*TODO - fix background image*@

        <div class="m-auto text-center">

            <div class="container d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <div class="masthead-subheading"><h2>Welcome To Our Studio!</h2></div>
                    <div class="masthead-heading"><h3>White, beautiful smile? With us it's possible!</h3></div>
                    <a class="btn btn-primary btn-xl text-uppercase" asp-controller="Service" asp-action="Index">Our offer</a>
                </div>
            </div>

        </div>
</body>

